


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    
    <script type="text/javascript" src="/static/scripts/libs/jquery/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="/static/scripts/libs/underscore/underscore.js"></script>
    <script type="text/javascript" src="/static/scripts/libs/backbone/backbone.js"></script>
	<script type="text/javascript" src="/static/scripts/libs/requirejs/require.js" data-main="/static/scripts/pages/Test/Activator"></script>



</head>

<body>




</body>
</html>