<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css" />
</head>

<body>
<div class="wrapper">
    <div id="top">
        <img id="header-logo" src="/static/images/logo.png" alt="BugTrack logo" />
        <span id="header-right-corner">
            <img id="userpick" src="/static/images/userpick.png" alt="Avatar" /> 
             <a id="a-team-member" href="#">Team Member</a>
             <img id="logout" src="/static/images/logout.png" alt="Logout" />
        </span>
    </div>
    <div class="content">   
        <div class="registration">
            <form id="registration-form">
                <p><input type="text" size="40" /></p>
                <p><input type="password" size="40" /></p>
                <p id="submit"> <input type="submit" value="Log in"></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
