<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css" />
</head>
<body>
    <div class="wrapper">

        <div class="header">
           <div id="top">  
               <h1 id="main-title">Bug<span id="main-title-span">Track</span></h1>
           </div>
           <div id="bottom"> bottom </div>
        </div>

        <div class="content">
            <div class="work"> Work
            </div>

             <!-- sprint page -->
            <div class="sprint"> 
               
                <div class="backlog">

                    <h3 class="column-title">Sprint backlog</h3>

                    <div class="issue">
                        Issue #1
                        <div class="color-part">
                        </div>
                    </div>

                    <div class="subissue">
                        <div class="color-part">
                        </div>
                        SubIssue#1
                    </div>    

                    <div class="subissue">
                        <div class="color-part">
                        </div>
                        SubIssue#2
                    </div>    

                    <div class="issue">
                        Issue #2
                        <div class="color-part">
                        </div>
                    </div> 
            
                </div>

                
                <div class="doing">

                    <h3 class="column-title">Doing</h3>

                </div>

                <div class="done">
                    <h3 class="column-title">Done</h3>
                </div>
                <div class="clear"></div>
            </div>
            <div class="chart"> Chart
            </div>
        </div>

        <div class="footer"> Тут були ми
        </div>

    </div>
</body>
</html>
