* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: Tahoma, Verdana, Arial, sans-serif;  
}

.wrapper {
    width: 980px;
    margin: auto;
    background-color: #d8bfd8;
}

.clear {
    clear: both;
}

/* header */

.header {
    
}

    #top {
        width: 980px;
        height: 50px;
        background-color: #6e914f;
    }

    #main-title {
        float: left;
        color: #f9191e;
        font-weight: normal;
        margin: 10px 15px;
    }

    #main-title-span {
        color: #ffffff;
    }

    #bottom {
        width: 980px;
        height: 80px;
        background-color: #d1e3c2;
    }

/* /header */


/* content */

.content {
    background-color: #FAFFFA;
    padding: 15px 0px;

}

    /* sprint */
    .sprint {
        padding: 0px 15px;
    }

        .backlog {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        .column-title {
            color: #4aaff7;
            margin: 10px;
        }

        .issue {
            width: 297px;
            height: 75px;
            border: 1px solid #B2C0C0;
            background-color: #f7faf4;
            border-left-width: 7px;
            border-left-color: #4aaff7;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 3px;
            margin-bottom: 2px;
        }


        .subissue {
            width: 290px;
            height: 65px;
            border: 1px solid #B2C0C0;
            background-color: #f7faf4;
            border-left-width: 7px;
            border-left-color: #4aaff7;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 10px;
            margin-bottom: 2px;
            
        }
         
        .doing {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            margin-left: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
         
        }

        .done {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            margin-left: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

    /* /sprint */

    /* work */

    .work {
        display: none;
    }

    /* /work */

    /* chart */

    .chart {
        display: none;
    }

    /* /chart */

/* /content */    

.footer {
    background-color: #b87333;
}
