* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: Tahoma, Verdana, Arial, sans-serif;  
}

#loading {
    display: block;
    margin: 0 auto;
    border: 0px;
}

.wrapper {
    width: 980px;
    margin: auto;
}

.clear {
    clear: both;
}

/* header */

.header {
    
}

    #top {
        padding: 10px;
        width: 960px;
        height: 30px;
        background-color: #6e914f;
    }

    #logo {
        width: 150px;
    }

    #header-right-corner {
        float: right;
    }

    #userpick {
        height: 30px;
        border-radius: 15px;
    }

    #logout {
        height: 30px;
    }

    #a-team-member {
        padding: 0 7px;
        color: white;
        text-decoration: none;
    }


/* /header */


/* content */

.content {
    background-color: #FAFFFA;
    padding: 0 0 15px;

}

     #filter {
        width: 960px;
        height: 60px;
        background-color: #d1e3c2;
        padding: 10px;
        margin-bottom: 10px;
        color: grey;
    }

    /* sprint */
    .sprint {
        padding: 0px 15px;
    }

        .todo {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        .column-title {
            color: #6e914f;
            margin: 10px;
        }

        .issue {
            width: 297px;
            height: 75px;
            border: 1px solid #B2C0C0;
            background-color: #f7faf4;
            border-left-width: 7px;
            border-left-color: #4aaff7;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 3px;
            margin-bottom: 2px;
        }


        .subissue {
            width: 290px;
            height: 65px;
            border: 1px solid #B2C0C0;
            background-color: #f7faf4;
            border-left-width: 7px;
            border-left-color: #4aaff7;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 10px;
            margin-bottom: 2px;
            
        }
         
        .doing {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            margin-left: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
         
        }

        .done {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            margin-left: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

    /* /sprint */

    /* work */

    .work {
        display: none;
    }

    /* /work */

    /* chart */

    .chart {
        display: none;
    }

    /* /chart */

/* /content */    

.footer {
    padding: 10px;
    background-color: #ffffff;
}
