* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

textarea {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    overflow: hidden;
}

.lock {
    display: none;
}

#loading {
    display: block;
    margin: 0 auto;
    border: 0;
}

.wrapper {
    width: 980px;
    margin: auto;
}

.clear {
    clear: both;
}

/* header */


    #header {
        padding: 10px;
        width: 960px;
        height: 30px;
        background-color: #6e914f;
    }

    #header-logo {
        width: 120px;
    }

    #header-right-corner {
        float: right;
    }

    #userpick {
        height: 30px;
        border-radius: 15px;
    }

    #logout {
        height: 30px;
    }

    #a-team-member {
        padding: 0 7px;
        color: white;
        text-decoration: none;
    }


/* /header */

/*sign-in */

.sign-in {

    border: 1px solid #C0CAD5;
    background-color: #d1e3c2;
    width: 350px;
    height: 430px;
    position: relative;
    margin: 0 auto;
    padding: 40px 30px;
    
    
}

#sign-in-image-div {
    text-align: center;
}

#sign-in-image {
    width: 110px;
    border-radius: 55px;
}

#sign-in-clear {
    height: 60px;
}

#sign-in-form p {
    text-align: center;
    margin-bottom: 40px;
}

#sign-in-form input {
    padding: 3px 5px;

}

.label {
    float: left;
    padding-bottom: 5px;
    color: #6e914f;
    font-weight: bold;
}

#sign-in-submit {
    background-color: #6e914f;
    color: #FAFFFA;
    font-weight: bold;
    width: 140px;
    border-color: #C0CAD5;
    font-size: 14px;
}

/* /sign-in */


/* content */

.content {
    background-color: #FAFFFA;
    padding: 0 0 70px;

}

     #filter {
        width: 960px;
        height: 60px;
        background-color: #d1e3c2;
        padding: 10px;
        margin-bottom: 10px;
        color: grey;
    }

    /* sprint */
    .sprint {
        padding: 0px 15px;
    }

        .todo {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        .column-title {
            color: #6e914f;
            margin: 10px;
        }

        .doing {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            margin-left: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .done {
            float: left;
            width: 310px;
            background-color: #d1e3c2;
            margin-left: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        
    /* /sprint */

    /* work */

    .work {
        display: none;
    }

    /* /work */

    /* chart */

    .chart {
        display: none;
    }

    /* /chart */

/* /content */    

.footer {
    border-top: 1px solid #C0CAD5;
    padding: 20px 10px 10px;
    background-color: #ffffff;
}

#footer-right-corner {
    float: right;
}

#footer-right-corner img {
    height: 20px;
}

#footer-logo {
    width: 100px;
}

#footer-line {
    line-height: 3.5;
    font-size: 0.7em;
}

#footer-line a {
    color: #4aaff7;
    text-decoration: none;
}

#footer-line img {
    height: 35px;
}

#footer-img {

    margin-left: 30px;
}

 /* issue */

.issue {
            width: 283px;
            height: 75px;
            border: 1px solid #B2C0C0;
            background-color: #f7faf4;
            border-left-width: 7px;
            border-left-color: #4aaff7;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 3px;
            margin-bottom: 2px;
            padding: 7px;
        }

.issue p {
    clear: both;
}

.addSubissue {
    width: 289px;
    height: 75px;
    border: 1px solid #B2C0C0;
    margin-left: 3px;
    margin-bottom: 2px;
    padding: 7px;
    background-color: #f7faf4;

}

.addSubissue .name {
    width: 100%;
    margin-bottom: 0.2em;
}

.addSubissue textarea {
    resize: none;
    width: 100%;
}
.add {
    float: right;
}
 /* /issue */

 /* subissue */

 .subissue {
    width: 276px;
    height: 65px;
    border: 1px solid #B2C0C0;
    background-color: #f7faf4;
    border-left-width: 7px;
    border-left-color: #4aaff7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 10px;
    margin-bottom: 2px;
    padding: 7px;
}

.subissue p {
    clear: both;
}

.top-left-corner {
    float: left;
    font-size: 10px;
}

.top-right-corner {
    float: right;
    height: 15px;
    font-size: 10px;

}

.top-left-corner img {
    height: 13px;
}

.top-right-corner img {
    height: 13px;
}

.image-close {
    display: none;
}

.sprint-line {
    padding: 0 2px;
    border: 1px solid lightgrey;
}

.edit textarea {
    resize: none;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 7px 4px;
}

.input {
    text-align: right;
}

.select-type,
.select-estimate,
.select-member {
    float: left;
    margin: 5px;
}

.select-title,
.select-title a {
    display: block;
    border-radius: 5px;
    border: 1px solid #cecece;
    width: 100px;
    background-color: #d1e3c2;
    color: #000;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.active {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.drop {
    margin: 0;
    padding: 0;
    width: 100px;
    border: 1px solid #cecece;
    border-top: none;
    display: none;
    /*position: absolute;*/
    background-color: #f7faf4;
    font-size: 12px;
}

.drop li {
    display: block;
    list-style: none;
    border-top: 1px dotted #cecece;
    cursor: pointer;
    padding-left: 15px;
}

.drop li a {
    color: #323232;
    text-decoration: none;
}

.drop li:hover {
    background-color: #d1e3c2;
}

.dialog-class {
    width: 500px;
}

.ui-dialog .ui-dialog-titlebar {
    background: #6e914f;
}