<div id="product-backlog" class="column" data-sprint="0">
	<h3 class="column-title">Product backlog</h3>
    <hr />
    <div id="add-issue">
        <input type="text" placeholder="Enter the name of issue" />
        <textarea placeholder="Enter the description of issue"></textarea>
        <div id="submit">
            <input type="submit" value="Add issue" />
        </div>
    </div>
</div>
<div id="sprint-backlog" class="column">
	<h3 class="column-title">Sprint backlog</h3>
    <hr />
	
</div>
<div class="clear"></div>