<div id="dialog-edit" title="Edit <% if (insert == "subissue") {%>subissue: <% }
           if (insert == "issue") { %>issue:<% } %>">
    <form class="dialog-form">
    <div class="text">
        <h3>Enter new name:</h3>
        <input class="edit-name" type="text" />
    </div>
    <div class="text">
        <h3>Enter new description:</h3>
        <textarea class="edit-description"></textarea>
    </div>
    
    <div class="select-type">
        <h3>Select type:</h3>
        <a href="javascript:void(0);" class="slct">Select type:</a>
        <ul class="drop">
        <% if (insert == "subissue") {%>
            <li>task</li>
            <li>bug</li>
             <% }
           if (insert == "issue") { %>
            <li>story</li>
            <li>technical task</li>
            <li>bug</li>
            <% } %>
        </ul>
    </div>
   
    <div class="select-estimate">
        <h3>Select estimate:</h3>
        <a href="javascript:void(0);" class="slct">Select estimate:</a>
        <ul class="drop">
            <li>0.5</li>
            <li>3</li>
            <li>5</li>
            <li>8</li>
            <li>13</li>
        </ul>
    </div>

    <div class="select-member">
        <h3>Assign to:</h3>
        <a href="javascript:void(0);" class="slct">Assign to:</a>
        <ul class="drop">
            <li>member1</li>
            <li>member2</li>
        </ul>
    </div>
    <div class="clear">
    </div>

    </form>
</div>