<!-- <div class="footer"> -->
    <img id="footer-logo" src="/static/images/logo.png" alt="BugTrack logo" />
    <span id="footer-right-corner">
        <img src="/static/images/twitter.png" alt="Twitter" /> 
        <img src="/static/images/facebook.png" alt="Facebook" />
        <img src="/static/images/google_plus.png" alt="Google Plus" />
        <img src="/static/images/linkedin.png" alt="LinkedIn" />
        <img src="/static/images/github.png" alt="Github" />
    </span>
    <p id="footer-line">
        Copyright &copy 2014, <a href="#">SoftServe</a> IT Academy | Terms of Service | Privacy Policy
        <span id="footer-img">
            <img id="mongodb" src="static/images/mongodb.png" alt="MongoDB" />
            <img src="static/images/flask.png" alt="Flask" />
            <img src="static/images/python.png" alt="Python" />
        </span>
    </p>
<!-- </div> -->