<div class="issue" data-issue-id="<%= issueId %>">
    <div class="top-left-corner">
        <span><img class="plus" src="static/images/plus.jpg"/></span>
        <img class="minus" src="static/images/minus.jpg" />
        <span class="estimate">Estimate:</span>
    	<span class="sprint-line"><%= estimate %></span>
    </div>
    <div class="top-right-corner">
        <img class="image-edit" src="/static/images/edit.png" alt="edit" />
        <img class="image-delete" src="/static/images/delete.png" alt="delete" />
        <img class="image-close" src="/static/images/close_window.png" alt="close" />
    </div>
    <p>
    <%= description %>
    </p>
</div>
<% if (status == "to do") { %>
<div class="addSubissue">
<input type="text" placeholder="Enter text"/> 
</div>  <%}%>
