<% if (kind == "story") {
    var kindColor = "story-color";
    }
   if (kind == "technical task") {
    kindColor = "tech-color";
    }
   if (kind == "bug") {
    kindColor = "bug-color";
    }%>

<div class="issue <%=kindColor%>" data-issue-id="<%= issueId %>">
    <div class="top-left-corner">
        <% if (status !== "doing" && kind == "story") { %>
        <span><img class="plus" src="static/images/plus.jpg"/>
        <img class="minus lock" src="static/images/minus.jpg" /></span>
        <% } %>
        <span class="estimate">Estimate: <%= estimate %>sp</span>
    </div>
    <% if (status == "to do") { %>
    <div class="top-right-corner">
        <img class="image-edit" src="/static/images/edit.png" alt="edit" />
        <img class="image-delete" src="/static/images/delete.png" alt="delete" />
        <img class="image-close" src="/static/images/close_window.png" alt="close" />
    </div>
    <% } %>
    <p><b><%= name %></b></p>
    <p><%= description %></p>
</div>
<% if (status == "to do" && kind == "story") { %>
<div class="addSubissue lock">
<input class="name" type="text" placeholder="Enter the name of subissue"/><br />
<textarea placeholder="Enter the description of subissue"></textarea><br />
<div class="add-wrapper">
<input class="add" data-add-id="<%= issueId %>" type="submit" value="Add subissue">
</div>
</div>  <%}%>
