<div id="header">
    <img id="header-logo" src="/static/images/logo.png" alt="BugTrack logo" />
</div>
<div class="content">
    <div id="sign-in-clear"></div>
    <div class="sign-in">
        <div id="sign-in-image-div">
           <a href="#"><img id="sign-in-image" src="/static/images/userpick.png" alt="Avatar" /></a>
        </div>
        <div id="sign-in-clear"></div>
        <form id="sign-in-form">
            <p>
                <div class="label">Email address:</div>
                <input id="email" type="text" size="40" maxlength="200" />
            </p>
            <p>
                <div class="label">Password:</div>
                <input id="passwd" type="password" size="40" maxlength="200" />
            </p>
            <p><input id="sign-in-submit" type="submit" value="Sign in"></p>
        </form>
    </div>
</div>