<div id="filter"><b>RV-005UI</b> :: <i>Sprint #1</i></div>

<div class="work">Work</div>

<div class="sprint">
    <div class="todo column" data-status="to do">
        <h3 class="column-title">To do</h3>
        <hr />
    </div>

    <div class="doing column" data-status="doing">
        <h3 class="column-title">Doing</h3>
        <hr />
    </div>

    <div class="done column" data-status="done">
        <h3 class="column-title">Done</h3>
        <hr />
    </div>
</div>

<div class="chart">Chart</div>