<div class="content">
        <div id="filter"> filter </div>
        
        </div>
            <div class="work"> Work
            </div>

             <!-- sprint page -->
            <div class="sprint"> 
               
                <div class="backlog">

                    <h3 class="column-title">Sprint backlog</h3>
                    <hr><br>

                    
            
                </div>

                
                <div class="doing">

                    <h3 class="column-title">Doing</h3>
                    <hr><br>

                   
                </div>

                <div class="done">
                    <h3 class="column-title">Done</h3>
                    <hr><br>

                    
                </div>
                <div class="clear"></div>
            </div>
            <div class="chart"> Chart
            </div>
</div>