<div id="filter">
	<h4>RV-005UI</h4>
	<div id="overlay" class="lock"></div>
	<div id="select-sprint">
        <a href="javascript:void(0);" class="slct">Sprint:</a>
        <ul class="drop">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
	<ul id="inset">
		<li id="backlog"><span>Work</span></li>
		<li id="task-board"><span>Sprint</span></li>
	</ul>
</div>

<div class="work lock"></div>

<div class="sprint"></div>