<div id="header">
    <a href="/"><img id="header-logo" src="/static/images/logo.png" alt="BugTrack logo" /></a>
    <span id="header-right-corner">
        <a href="#profile"><img id="userpick" src="/static/images/userpick.png" alt="Avatar"></a>
        <a id="a-team-member" href="#profile">Team Member</a>
        <img id="logout" src="/static/images/logout.png" alt="Logout">
    </span>
</div>
<div class="content">
    <div id="profile-clear"></div>
    <div class="profile-area">
        <div id="profile-edit-button-corner">
            <div class="label">Edit profile</div>
            <img id="profile-edit-button" src="/static/images/edit.png" alt="Edit profile">
        </div>
        <div id="profile-image-div">
            <img id="profile-image" src="/static/images/userpick.png" alt="Avatar" />
            <p>
            </p>
            <div class="label"><%= fname %> <%= lname %></div>
        </div>

        <hr>
        <div id="profile-info">
            <div class="label">
                <div class="item">
                    <span>First name:</span>
                    <strong><%= fname %></strong>
                </div>
                <div class="item">
                    <span>Last name:</span> 
                    <strong><%= lname %></strong>
                </div>
                <div class="item">
                    <span>E-mail:</span> 
                    <strong><%= email %></strong>
                </div>
                <div class="item">
                    <span>Role:</span>
                    <strong><%= role %></strong>
                </div>
            </div>
        </div>
    </div>
</div>
