<div id="header">
    <img id="header-logo" src="/static/images/logo.png" alt="BugTrack logo" />
</div>
<div class="content">
    <div id="profile-clear"></div>
    <div class="profile-area">
        <div id="profile-edit-button-corner">
            <div class="label">Edit profile</div>
            <img id="profile-edit-button" src="/static/images/edit.png" alt="Edit profile">
        </div>
        <div id="profile-image-div">
            <img id="profile-image" src="/static/images/userpick.png" alt="Avatar" />
            <p>
            </p>
            <div class="label">Team member</div>
        </div>

        <hr>
        <div id="profile-info">
            <div class="label">
            
                <span>First name:</span> 
                <span>Last name:</span> 
                <span>E-mail:</span> 
                <span>Role:</span>
                
            </div>
        </div>
    </div>
</div>