<div class="subissue">
    <div class="top-left-corner">
    	<span class="estimate">Estimate</span>
    	<span class="sprint-line">3</span>
    </div>
    <div class="top-right-corner">
        <img class="image-edit" src="/static/images/edit.png" alt="edit" />
        <img src="/static/images/delete.png" alt="delete" />
    </div>
    <p class="description"><%= name %></p>
    <div class="subissue-hidden-edit">
        <form class="edit">
	        <textarea>
	        </textarea>
	    </form>
        <form name="select-type" class="select-form">
            <select>
                <option>sub-task</option>
                <option>sub-bug</option>
            </select>
        </form>
        <form name="select-estimate" class="select-form">
            <select>
                <option>3 est. point</option>
                <option>5 est. point</option>
            </select>
        </form>
        <form name="select-assingTo" class="select-form">
            <select>
                <option>Team</option>
                <option>Karpyuk</option>
                <option>Kotyuk</option>
                <option>Korolchuk</option>
                <option>Puzyrko</option>`
            </select>
        </form>
        <div class="input">
            <input class="save" type="submit" value="Save" />
        </div>
    </div>
</div>
