<div class="subissue" data-parent="<%= parent %>">
    <div class="top-left-corner">
    	<span class="estimate">Estimate</span>
    	<span class="sprint-line">3</span>
    </div>
    <div class="top-right-corner">
        <img class="image-edit" src="/static/images/edit.png" alt="edit" />
        <img class="image-delete" src="/static/images/delete.png" alt="delete" />
        <img class="image-close" src="/static/images/close_window.png" alt="close" />
    </div>
    <p class="description"><%= description %></p>
</div>
