<div class="subissue">
    <div class="top-left-corner">
    	<span class="estimate">Estimate</span>
    	<span class="sprint-line">3</span>
    </div>
    <div class="top-right-corner">
        <img class="image-edit" src="/static/images/edit.png" alt="edit" />
        <img class="image-delete" src="/static/images/delete.png" alt="delete" />
        <img class="image-close" src="/static/images/close_window.png" alt="close" />
    </div>
    <p class="description"><%=name %></p>
    <div class="subissue-hidden-edit">
        <form class="edit">
	        <textarea>
	        </textarea>
	    </form>
        <div class="select-wrapper">
            <div class="select-type">
                <input type="hidden" class="default-title" />
                <a href="javascript:void(0);" class="select-title">Type</a>     <!--javascript:void(0);-->
                <ul class="drop">
                    <li><a href="#">task</a></li>
                    <li><a href="#">bug</a></li>
                </ul>
                <form name="select-type">
                    <input name="type" type="hidden" class="select-input" />
                </form>
            </div>

            <div class="select-estimate">
                <input type="hidden" class="default-title" />
                <a href="javascript:void(0);" class="select-title">Estimate</a>     <!--javascript:void(0);-->
                <ul class="drop">
                    <li><a href="#">0.5 est. point</a></li>
                    <li><a href="#">3 est. point</a></li>
                    <li><a href="#">5 est. point</a></li>
                    <li><a href="#">8 est. point</a></li>
                    <li><a href="#">13 est. point</a></li>
                </ul>
                <form name="select-estimate">
                    <input name="estimate" type="hidden" class="select-input" />
                </form>
            </div>

            <div class="select-member">
                <input type="hidden" class="default-title" />
                <a href="javascript:void(0);" class="select-title">Team Member</a>     <!--javascript:void(0);-->
                <ul class="drop">
                    <li><a href="#">member 1</a></li>
                    <li><a href="#">member 2</a></li>
                </ul>
                <form name="select-member">
                    <input name="member" type="hidden" class="select-input" />
                </form>
            </div>
        </div>
        <div class="input">
            <input class="save" type="submit" value="Save" />
        </div>
    </div>
</div>
